.navbar {
    background-color: #061006a6;
    padding: 10px 0;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
    color: #fff;
}

.navbar .navbar-brand img {
    margin-right: 10px;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.navbar .navbar-nav .nav-link i {
    margin-right: 5px;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #163816;
    color: #fff;
}

.display-6 {
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-form {
    display: flex;
    align-items: center;
    margin-left: auto;
}
